{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "/": ".",
          "@static": "./static",
          "@pages": "./pages",
          "@lib": "./lib",
          "@components": "./components"
        },
        "extensions": [".ts", ".tsx", ".js", ".jpg", ".png", ".webp"]
      }
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "", //"esm", // or '' if your bundler does not support ES modules
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "", // "esm", // or '' if your bundler does not support ES modules
        "camel2DashComponentName": false
      },
      "icons"
    ],
    "lodash"
  ]
}
