.DS_Store
node_modules
*.log
.yoga
dist
.next
.env
*secret.yml
backend/generated
frontend/firebase.config.js
frontend/MOOCfi-*.json
backend/MOOCfi-*.json
frontend/.nyc_output
frontend/coverage
newrelic_agent.log
sourcemap
.scannerwork
.mailmap
shibbo/shibboleth
