Antti Leinonen <antti.leinonen@helsinki.fi> <Redande@users.noreply.github.com>
Ava Heinonen <a.v.a.r.heinonen@gmail.com> Heinonen Ava R <avaheino@lx8-500-109.pc.helsinki.fi>  
Ava Heinonen <a.v.a.r.heinonen@gmail.com> AVRH <46318955+AVRH@users.noreply.github.com>
Daniel Koch <daniel.koch@helsinki.fi>
Henrik Nygren <nygrenh@gmail.com> <nygrenh@users.noreply.github.com>
Jere Helén <jere.helen@helsinki.fi>
Jesper Kuutti <jesper.kuutti@helsinki.fi>
Joel Hassan <joel.nhn@gmail.com>
Jori Lampi <jori.lampi@helsinki.fi> <36279434+jolampi@users.noreply.github.com> 
Mikko Pyykkö <mikko.pyykko@helsinki.fi> <mipyykko@gmail.com> 
Mikko Pyykkö <mikko.pyykko@helsinki.fi> <mipyykko@users.noreply.github.com>
Otso Helos <17408120+otsohelos@users.noreply.github.com>
Perkoila Kalle M <kalle.perkoila@helsinki.fi> <perkoila@lx8-500-038.pc.helsinki.fi> 
Perkoila Kalle M <kalle.perkoila@helsinki.fi> kalleprkl 
Ren <nsoharab@gmail.com>
Sebastian Sergelius <sebastian.sergelius@helsinki.fi> Sebastian <39335537+sebazai@users.noreply.github.com>
dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
samp3 <samuli.ahlqvist@helsinki.fi>
stadibo <jesperleonard@gmail.com>
