{{- if .Values.email.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: background-emailer
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: background-emailer
      {{- include "helm.selectorLabels" . | nindent 6 }}
  replicas: 1
  template:
    metadata:
      labels:
        app: background-emailer
        {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: background-emailer
          image: "{{ .Values.image.repository }}/moocfi-backend:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: ["sh", "-c", "npm run background-emailer"]
          imagePullPolicy: Always
          resources:
            limits:
              memory: 400Mi
              cpu: 30m
            requests:
              memory: 150Mi
              cpu: 10m
          envFrom:
          - secretRef:
              name: backend-secret
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
          volumeMounts:
            - name: google-cloud-storage-serviceaccount
              mountPath: "/etc/gcs"
              readOnly: true
      volumes:
        - name: google-cloud-storage-serviceaccount
          secret:
            secretName: google-cloud-storage-serviceaccount
            items:
              - key: account.json
                path: account.json
{{- end }}
