apiVersion: batch/v1
kind: CronJob
metadata:
  name: elements-consented-users-emailer
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  # Every Sunday at 7:00pm UTC
  schedule: "0 19 * * 0"
  suspend: {{ .Values.elementsConsentedUsers.suspend | default false }}
  startingDeadlineSeconds: 3600
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 3
  jobTemplate:
    metadata:
      labels:
        {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      activeDeadlineSeconds: 7200
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: elements-consented-users-emailer
              image: "{{ .Values.image.repository }}/moocfi-backend:{{ .Values.image.tag | default .Chart.AppVersion }}"
              command: ["sh", "-c", "npm run elements-consented-users-emailer"]
              envFrom:
                - secretRef:
                    name: backend-secret
              env:
                - name: REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: new-redis
                      key: redis-password
                - name: REDIS_SENTINELS
                  valueFrom:
                    secretKeyRef:
                      name: new-redis
                      key: redis-sentinels
                - name: REDIS_SENTINEL_MASTER_NAME
                  valueFrom:
                    secretKeyRef:
                      name: new-redis
                      key: redis-sentinel-master-name
