apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-frontend
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ include "helm.fullname" . }}-frontend
      {{- include "helm.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.frontend.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ include "helm.fullname" . }}-frontend
        {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ include "helm.fullname" . }}-frontend
          image: "{{ .Values.image.repository }}/moocfi-frontend:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: Always
          ports:
            - name: frontend-http
              containerPort: 3021
          resources:
            limits:
              memory: 2800Mi
              cpu: 100m
            requests:
              memory: 1500Mi
              cpu: 40m
