apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-run-migrations"
  labels:
    {{- include "helm.labels" . | nindent 4 }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  activeDeadlineSeconds: 600
  template:
    metadata:
      name: "{{ .Release.Name }}"
      labels:
        {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      containers:
        - name: run-migrations
          image: "{{ .Values.image.repository }}/moocfi-backend:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: ["npm", "run", "migrate", "--", "--env", "production"]
          envFrom:
            - secretRef:
                name: backend-secret
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: new-redis
                  key: redis-password
            - name: REDIS_SENTINELS
              valueFrom:
                secretKeyRef:
                  name: new-redis
                  key: redis-sentinels
            - name: REDIS_SENTINEL_MASTER_NAME
              valueFrom:
                secretKeyRef:
                  name: new-redis
                  key: redis-sentinel-master-name
