apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: remove-duplicate-completions
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  schedule: "4/30 * * * *"
  startingDeadlineSeconds: 1800
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      labels:
        {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      activeDeadlineSeconds: 3600
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: remove-duplicate-completions
              image: "{{ .Values.image.repository }}/moocfi-backend:{{ .Values.image.tag | default .Chart.AppVersion }}"
              command: ["sh", "-c", "npm run remove-duplicate-completions"]
              resources:
                limits:
                  memory: 256Mi
                  cpu: 20m
                requests:
                  memory: 100Mi
                  cpu: 10m
              envFrom:
              - secretRef:
                  name: backend-secret
              env:
                - name: REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: redis
                      key: redis-password
