apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-bridge
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: kafka-bridge
      {{- include "helm.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.kafkaBridge.replicaCount }}
  template:
    metadata:
      labels:
        app: kafka-bridge
        {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: kafka-bridge
          image: "{{ .Values.image.repository }}/moocfi-backend:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: ["sh", "-c", "npm run kafka-bridge"]
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /kafka-bridge/api/v0/healthz
              port: 3003
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /kafka-bridge/api/v0/healthz
              port: 3003
            initialDelaySeconds: 5
            periodSeconds: 5
          ports:
            - name: kafka-bridge
              containerPort: 3003
          resources:
            limits:
              memory: 800Mi
              cpu: 100m
            requests:
              memory: 200Mi
              cpu: 30m
          envFrom:
          - secretRef:
              name: backend-secret
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
            - name: UV_THREADPOOL_SIZE
              value: "8"
