apiVersion: v1
data:
  POSTGRES_DATABASE: SECRET
  POSTGRES_HOST: SECRET
  POSTGRES_PORT: SECRET
  POSTGRES_PASSWORD: SECRET
  POSTGRES_USERNAME: SECRET
  PRISMA_SECRET: SECRET
kind: Secret
metadata:
  name: backend-secret
  namespace: moocfi
type: Opaque
