apiVersion: v1
data:
  account.json: SECRET
kind: Secret
metadata:
  creationTimestamp: "2019-07-19T07:35:42Z"
  name: google-cloud-storage-serviceaccount
  namespace: moocfi
  resourceVersion: "42066382"
  selfLink: /api/v1/namespaces/moocfi/secrets/google-cloud-storage-serviceaccount
  uid: d025d0b1-a9f7-11e9-bec1-42010aa60106
type: Opaque
