apiVersion: v1
kind: ConfigMap
metadata:
  name: prisma-configmap
  namespace: prisma
  labels:
    stage: production
    name: prisma
    app: prisma
data:
  PRISMA_CONFIG: |
  port: 4466
  secret:
  databases:
    default:
      connector: postgres
      host:
      port: 5432
      user:
      password:
      database:
